<section
    id="about"
    class="max-w-6xl mx-auto px-6 pt-12 pb-16 shadow-md dark:shadow-lg lg:rounded-xl bg-gray-100 dark:bg-zinc-800 mb-8"
>
    <h2 class="text-2xl lg:text-4xl font-bold mb-10 text-white text-center">
        A Bit About Me
    </h2>

    <p
        class="text-gray-600 dark:text-gray-300 mb-8 max-w-3xl mx-auto text-center"
    >
        I've worked on everything from language-learning platforms to
        university-wide LMS rollouts. Passionate about bridging dev and
        education.
    </p>

    <div class="text-center mt-6">
        <a
            href="{{ '/about/' | url }}"
            class="inline-flex items-center px-6 py-3 bg-red-600 text-white font-semibold rounded-lg shadow hover:bg-red-700 transition cursor-pointer"
        >
            Read My Full Bio
        </a>
    </div>
</section>
