<section id="cta" class="py-12 px-4 bg-red-600 dark:bg-red-500 text-white mt-8">
    <div class="text-center max-w-2xl mx-auto">
        <h2 class="text-2xl lg:text-4xl font-bold mb-10 text-white text-center">
            Ready to Create Something Impactful?
        </h2>
        <p class="mt-2 text-lg">Let's build better learning experiences.</p>
        <p class="mt-2 text-sm text-red-100">
            Whether you're designing a platform or scaling an LMS, I can help.
        </p>
        <a
            href="{{ '/contact/' | url }}"
            class="bg-white text-red-600 font-semibold px-6 py-3 mt-8 inline-block rounded-lg hover:bg-gray-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-white transition mb-8"
        >
            <i class="fas fa-paper-plane mr-2"></i> Get in Touch
        </a>
    </div>
</section>
