{% assign previousPost = collections.post | getPreviousCollectionItem: page %}
{% assign nextPost = collections.post | getNextCollectionItem: page %}

<footer class="mt-10 border-t pt-6 text-sm">
    <div class="max-w-4xl mx-auto px-4">
        <!-- Tags -->
        <div class="flex flex-wrap gap-2 justify-center">
            {% for tag in tags %} {% unless tag == "post" or tag == "all" or tag
            == "nav" %}
            <a
                href="{{ '/tags/' | append: tag | slug | append: '/' | url }}"
                aria-label="View all posts tagged {{ tag }}"
                class="hover-bg-accent text-sm bg-hero text-muted transition-colors duration-300 px-2 py-1 rounded focus:outline-none focus-visible:ring-2 focus-visible:ring-primary"
            >
                #{{ tag }}
            </a>
            {% endunless %} {% endfor %}
        </div>

        <div
            class="flex justify-between flex-col md:flex-row mt-10 gap-4 md:gap-0"
        >
            <div class="w-full md:w-auto">
                {% if previousPost %}
                <a
                    href="{{ previousPost.url | url }}"
                    class="button-link shadow font-semibold text-center px-6 py-3 mt-4 md:inline-block md:w-auto md:text-right md:mt-0"
                >
                    <i class="fas fa-arrow-left ml-1" aria-hidden="true"></i>
                    Previous: {{ previousPost.data.title }}
                </a>
                {% else %}
                <div style="visibility: hidden" class="block w-full">
                    &nbsp;
                </div>
                {% endif %}
            </div>

            <div class="w-full md:w-auto">
                {% if nextPost %}
                <a
                    href="{{ nextPost.url | url }}"
                    class="button-link shadow font-semibold text-center px-6 py-3 mt-4 md:inline-block md:w-auto md:text-right md:mt-0"
                >
                    Next: {{ nextPost.data.title }}
                    <i class="fas fa-arrow-right ml-1" aria-hidden="true"></i>
                </a>
                {% else %}
                <div style="visibility: hidden" class="block w-full">
                    &nbsp;
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
