{% assign previousPost = collections.post | getPreviousCollectionItem: page %}
{% assign nextPost = collections.post | getNextCollectionItem: page %}

<footer class="mt-10 border-t pt-6 text-sm">
    <div class="max-w-4xl mx-auto">
        <!-- Tags -->
        <div class="flex flex-wrap gap-2 justify-center">
            {% for tag in tags %} {% unless tag == "post" or tag == "all" or tag
            == "nav" %}
            <a
                href="{{ '/tags/' | append: tag | slug | append: '/' | url }}"
                aria-label="View all posts tagged {{ tag }}"
                class="hover-bg-accent text-sm bg-hero text-muted transition-colors duration-300 px-2 py-1 rounded focus:outline-none focus-visible:ring-2 focus-visible:ring-primary"
            >
                #{{ tag }}
            </a>
            {% endunless %} {% endfor %}
        </div>

        <!-- Previous/Next Posts -->
        <div class="flex justify-between flex-col md:flex-row mt-10 gap-6">
            <!-- Previous Post -->
            <div class="w-full md:w-1/2">
                {% if previousPost %}
                <a
                    href="{{ previousPost.url | url }}"
                    class="w-full hover-bg-accent group flex flex-col items-center gap-2 p-4 rounded-lg transform transition duration-300 hover:scale-105 hover:shadow-lg ease-in-out bg-surface focus:outline-none focus-visible:ring-2 focus-visible:ring-primary"
                >
                    {% if previousPost.data.thumbnail %}
                    <img
                        src="{{ previousPost.data.thumbnail | url }}"
                        alt="Thumbnail for {{ previousPost.data.title }}"
                        class="w-full h-40 object-cover rounded-md shrink-0"
                        loading="lazy"
                    />
                    {% endif %}
                    <p
                        class="flex items-center text-primary font-semibold mb-1 group-hover:text-white transition-colors duration-300"
                    >
                        <i
                            class="fas fa-arrow-left mr-2"
                            aria-hidden="true"
                        ></i>
                        Previous
                    </p>
                    <h3
                        class="text-lg font-medium text-white group-hover:text-primary transition-colors duration-300"
                    >
                        {{ previousPost.data.title }}
                    </h3>
                    <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">
                        {{ previousPost.date | date: "%d %B %Y" }}
                    </p>
                </a>
                {% else %}
                <div style="visibility: hidden" class="block w-full">
                    &nbsp;
                </div>
                {% endif %}
            </div>

            <!-- Next Post -->
            <div class="w-full md:w-1/2">
                {% if nextPost %}
                <a
                    href="{{ nextPost.url | url }}"
                    class="w-full hover-bg-accent group flex flex-col items-center gap-2 p-4 rounded-lg transform transition duration-300 hover:scale-105 hover:shadow-lg ease-in-out bg-surface focus:outline-none focus-visible:ring-2 focus-visible:ring-primary"
                >
                    {% if nextPost.data.thumbnail %}
                    <img
                        src="{{ nextPost.data.thumbnail | url }}"
                        alt="Thumbnail for {{ nextPost.data.title }}"
                        class="w-full h-40 object-cover rounded-md shrink-0"
                        loading="lazy"
                    />
                    {% endif %}
                    <p
                        class="flex items-center justify-end text-primary font-semibold mb-1 group-hover:text-white transition-colors duration-300"
                    >
                        Next
                        <i
                            class="fas fa-arrow-right ml-2"
                            aria-hidden="true"
                        ></i>
                    </p>
                    <h3
                        class="text-lg font-medium text-white group-hover:text-primary transition-colors duration-300 text-right"
                    >
                        {{ nextPost.data.title }}
                    </h3>
                    <p
                        class="text-sm text-gray-500 dark:text-gray-400 mt-1 text-right"
                    >
                        {{ nextPost.date | date: "%d %B %Y" }}
                    </p>
                </a>
                {% else %}
                <div style="visibility: hidden" class="block w-full">
                    &nbsp;
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
