<div>
    <h3 class="text-lg text-center mb-4">Recent Posts</h3>

    <ul class="space-y-4">
        {% for post in collections.post | slice(0, 5) %}
        <li>
            <a
                href="{{ post.url | url }}"
                class="hover-bg-accent group flex flex-col items-center gap-2 p-4 rounded-lg transform transition duration-300 hover:scale-105 hover:shadow-lg ease-in-out bg-surface focus:outline-none focus-visible:ring-2 focus-visible:ring-primary"
            >
                {% if post.data.thumbnail %}
                <img
                    src="{{ post.data.thumbnail | url }}"
                    alt="Thumbnail for {{ post.data.title }}"
                    class="w-full h-40 object-cover rounded-md shrink-0"
                    loading="lazy"
                />
                {% endif %}
                <div class="text-center">
                    <p
                        class="text-lg font-medium text-white group-hover:text-primary"
                    >
                        {{ post.data.title }}
                    </p>
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        {{ post.date | date: "%d %B %Y" }}
                    </p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
