<div class="hidden space-x-6 text-text md:flex">
    <a
        class="inline-block rounded px-2 py-1 transition-colors duration-300 hover:text-primary focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-background"
        href="https://www.karlhorning.dev/about"
        >About</a
    ><a
        class="inline-block rounded px-2 py-1 transition-colors duration-300 hover:text-primary focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-background"
        href="{{ '/' | url }}"
        >Blog</a
    ><a
        class="inline-block rounded px-2 py-1 transition-colors duration-300 hover:text-primary focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-background"
        href="https://www.karlhorning.dev/contact"
        >Contact</a
    >
</div>
