<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home | Karl Horning</title>
        <link rel="stylesheet" href="{{ '/css/tailwind-output.css' | url }}" />
        <script
            src="https://kit.fontawesome.com/5481de0f94.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body
        class="bg-gray-100 text-gray-800 font-sans leading-relaxed dark:bg-zinc-900 dark:text-gray-200"
    >
        <header>{% include "navbar/layout.html" %}</header>
        <!-- Hero Section -->
        {% include "homepage/hero.html" %}

        <!-- Skills Section -->
        {% include "homepage/skills.html" %}

        <!-- Featured Blog Posts -->
        {% include "homepage/featured-posts.html" %}
        
        <!-- About Preview -->
        {% include "homepage/about-preview.html" %}
        
        <!-- Call to Action -->
        {% include "homepage/call-to-action.html" %}

        <!-- Footer -->
        {% include "footer.html" %}
        <script src="{{ '/scripts/script.js' | url }}"></script>
    </body>
</html>
